@keyframes smaller-element-item1 {
	0% { transform: translate(0%, 0%); }
	1% { transform: translate(59.95%, 23.71%); }
	2% { transform: translate(119.57%, 46.86%); }
	3% { transform: translate(178.58%, 69.50%); }
	4% { transform: translate(236.71%, 91.67%); }
	5% { transform: translate(293.70%, 113.41%); }
	6% { transform: translate(349.35%, 134.74%); }
	7% { transform: translate(403.45%, 155.70%); }
	8% { transform: translate(455.83%, 176.31%); }
	9% { transform: translate(506.33%, 196.60%); }
	10% { transform: translate(554.81%, 216.58%); }
	11% { transform: translate(601.17%, 236.29%); }
	12% { transform: translate(645.30%, 255.72%); }
	13% { transform: translate(687.12%, 274.91%); }
	14% { transform: translate(726.57%, 293.84%); }
	15% { transform: translate(763.59%, 312.55%); }
	16% { transform: translate(798.16%, 331.03%); }
	17% { transform: translate(830.25%, 349.28%); }
	18% { transform: translate(859.85%, 367.31%); }
	19% { transform: translate(886.98%, 385.12%); }
	20% { transform: translate(911.63%, 402.71%); }
	21% { transform: translate(933.84%, 420.08%); }
	22% { transform: translate(953.65%, 437.22%); }
	23% { transform: translate(971.09%, 454.13%); }
	24% { transform: translate(986.23%, 470.79%); }
	25% { transform: translate(999.12%, 487.21%); }
	26% { transform: translate(1009.83%, 503.37%); }
	27% { transform: translate(1018.44%, 519.26%); }
	28% { transform: translate(1025.02%, 534.87%); }
	29% { transform: translate(1029.66%, 550.19%); }
	30% { transform: translate(1032.45%, 565.20%); }
	31% { transform: translate(1033.49%, 579.90%); }
	32% { transform: translate(1032.87%, 594.27%); }
	33% { transform: translate(1030.69%, 608.30%); }
	34% { transform: translate(1027.05%, 621.97%); }
	35% { transform: translate(1022.06%, 635.26%); }
	36% { transform: translate(1015.82%, 648.17%); }
	37% { transform: translate(1008.44%, 660.68%); }
	38% { transform: translate(1000.03%, 672.77%); }
	39% { transform: translate(990.69%, 684.43%); }
	40% { transform: translate(980.53%, 695.65%); }
	41% { transform: translate(969.66%, 706.42%); }
	42% { transform: translate(958.18%, 716.73%); }
	43% { transform: translate(946.19%, 726.55%); }
	44% { transform: translate(933.79%, 735.89%); }
	45% { transform: translate(921.09%, 744.73%); }
	46% { transform: translate(908.18%, 753.07%); }
	47% { transform: translate(895.15%, 760.89%); }
	48% { transform: translate(882.09%, 768.20%); }
	49% { transform: translate(869.10%, 774.99%); }
	50% { transform: translate(856.25%, 781.25%); }
	51% { transform: translate(843.63%, 786.99%); }
	52% { transform: translate(831.30%, 792.20%); }
	53% { transform: translate(819.35%, 796.89%); }
	54% { transform: translate(807.84%, 801.07%); }
	55% { transform: translate(796.83%, 804.74%); }
	56% { transform: translate(786.38%, 807.90%); }
	57% { transform: translate(776.55%, 810.58%); }
	58% { transform: translate(767.39%, 812.79%); }
	59% { transform: translate(758.93%, 814.54%); }
	60% { transform: translate(751.22%, 815.85%); }
	61% { transform: translate(744.29%, 816.74%); }
	62% { transform: translate(738.18%, 817.25%); }
	63% { transform: translate(732.90%, 817.39%); }
	64% { transform: translate(728.48%, 817.20%); }
	65% { transform: translate(724.94%, 816.72%); }
	66% { transform: translate(722.27%, 815.98%); }
	67% { transform: translate(720.49%, 815.02%); }
	68% { transform: translate(719.60%, 813.90%); }
	69% { transform: translate(719.60%, 812.66%); }
	70% { transform: translate(720.47%, 811.35%); }
	71% { transform: translate(722.21%, 810.03%); }
	72% { transform: translate(724.79%, 808.76%); }
	73% { transform: translate(728.20%, 807.61%); }
	74% { transform: translate(732.41%, 806.65%); }
	75% { transform: translate(737.40%, 805.96%); }
	76% { transform: translate(743.14%, 805.60%); }
	77% { transform: translate(749.58%, 805.68%); }
	78% { transform: translate(756.70%, 806.26%); }
	79% { transform: translate(764.46%, 807.46%); }
	80% { transform: translate(772.81%, 809.37%); }
	81% { transform: translate(781.72%, 812.09%); }
	82% { transform: translate(791.13%, 815.73%); }
	83% { transform: translate(801.01%, 820.42%); }
	84% { transform: translate(811.31%, 826.26%); }
	85% { transform: translate(821.97%, 833.39%); }
	86% { transform: translate(832.97%, 841.94%); }
	87% { transform: translate(844.24%, 852.05%); }
	88% { transform: translate(855.76%, 863.86%); }
	89% { transform: translate(867.46%, 877.52%); }
	90% { transform: translate(879.33%, 893.19%); }
	91% { transform: translate(891.30%, 911.04%); }
	92% { transform: translate(903.36%, 931.24%); }
	93% { transform: translate(915.47%, 953.95%); }
	94% { transform: translate(927.60%, 979.38%); }
	95% { transform: translate(939.73%, 1007.70%); }
	96% { transform: translate(951.84%, 1039.12%); }
	97% { transform: translate(963.92%, 1073.85%); }
	98% { transform: translate(975.97%, 1112.09%); }
	99% { transform: translate(988.00%, 1154.06%); }
	100% { transform: translate(988.00%, 1154.06%); }
}
.animated-smaller-element-item1 {
	@include sassence(smaller-element-item1);
}
@keyframes smaller-element-item2 {
	0% { transform: translate(0%, 0%); }
	1% { transform: translate(0.28%, 12.93%); }
	2% { transform: translate(1.09%, 25.10%); }
	3% { transform: translate(2.37%, 37.06%); }
	4% { transform: translate(4.07%, 49.31%); }
	5% { transform: translate(6.12%, 62.31%); }
	6% { transform: translate(8.48%, 76.49%); }
	7% { transform: translate(11.10%, 92.22%); }
	8% { transform: translate(13.94%, 109.86%); }
	9% { transform: translate(16.95%, 129.72%); }
	10% { transform: translate(20.09%, 152.06%); }
	11% { transform: translate(23.33%, 177.14%); }
	12% { transform: translate(26.62%, 205.16%); }
	13% { transform: translate(29.94%, 236.30%); }
	14% { transform: translate(33.25%, 270.69%); }
	15% { transform: translate(36.53%, 308.46%); }
	16% { transform: translate(39.74%, 349.69%); }
	17% { transform: translate(42.86%, 394.43%); }
	18% { transform: translate(45.87%, 442.72%); }
	19% { transform: translate(48.75%, 494.56%); }
	20% { transform: translate(51.47%, 549.92%); }
	21% { transform: translate(54.02%, 608.77%); }
	22% { transform: translate(56.38%, 671.04%); }
	23% { transform: translate(58.54%, 736.63%); }
	24% { transform: translate(60.49%, 805.43%); }
	25% { transform: translate(62.21%, 877.32%); }
	26% { transform: translate(63.70%, 952.15%); }
	27% { transform: translate(64.95%, 1029.74%); }
	28% { transform: translate(65.95%, 1109.92%); }
	29% { transform: translate(66.69%, 1192.48%); }
	30% { transform: translate(67.17%, 1277.21%); }
	31% { transform: translate(67.40%, 1363.88%); }
	32% { transform: translate(67.36%, 1452.26%); }
	33% { transform: translate(67.06%, 1542.09%); }
	34% { transform: translate(66.50%, 1633.10%); }
	35% { transform: translate(65.69%, 1725.03%); }
	36% { transform: translate(64.61%, 1817.59%); }
	37% { transform: translate(63.29%, 1910.51%); }
	38% { transform: translate(61.72%, 2003.47%); }
	39% { transform: translate(59.91%, 2096.19%); }
	40% { transform: translate(57.86%, 2188.36%); }
	41% { transform: translate(55.59%, 2279.67%); }
	42% { transform: translate(53.10%, 2369.81%); }
	43% { transform: translate(50.40%, 2458.48%); }
	44% { transform: translate(47.50%, 2545.36%); }
	45% { transform: translate(44.41%, 2630.13%); }
	46% { transform: translate(41.15%, 2712.51%); }
	47% { transform: translate(37.71%, 2792.16%); }
	48% { transform: translate(34.11%, 2868.81%); }
	49% { transform: translate(30.37%, 2942.14%); }
	50% { transform: translate(26.50%, 3011.88%); }
	51% { transform: translate(22.50%, 3077.72%); }
	52% { transform: translate(18.40%, 3139.41%); }
	53% { transform: translate(14.19%, 3196.68%); }
	54% { transform: translate(9.91%, 3249.26%); }
	55% { transform: translate(5.54%, 3296.91%); }
	56% { transform: translate(1.12%, 3339.40%); }
	57% { transform: translate(-3.35%, 3376.52%); }
	58% { transform: translate(-7.85%, 3408.05%); }
	59% { transform: translate(-12.38%, 3433.80%); }
	60% { transform: translate(-16.92%, 3453.61%); }
	61% { transform: translate(-21.46%, 3467.31%); }
	62% { transform: translate(-25.99%, 3474.77%); }
	63% { transform: translate(-30.49%, 3475.87%); }
	64% { transform: translate(-34.97%, 3470.50%); }
	65% { transform: translate(-39.41%, 3458.61%); }
	66% { transform: translate(-43.79%, 3440.12%); }
	67% { transform: translate(-48.12%, 3415.01%); }
	68% { transform: translate(-52.38%, 3383.27%); }
	69% { transform: translate(-56.56%, 3344.93%); }
	70% { transform: translate(-60.67%, 3300.03%); }
	71% { transform: translate(-64.69%, 3248.64%); }
	72% { transform: translate(-68.62%, 3190.87%); }
	73% { transform: translate(-72.46%, 3126.84%); }
	74% { transform: translate(-76.20%, 3056.73%); }
	75% { transform: translate(-79.84%, 2980.72%); }
	76% { transform: translate(-83.38%, 2899.05%); }
	77% { transform: translate(-86.83%, 2811.98%); }
	78% { transform: translate(-90.18%, 2719.80%); }
	79% { transform: translate(-93.44%, 2622.84%); }
	80% { transform: translate(-96.60%, 2521.48%); }
	81% { transform: translate(-99.69%, 2416.13%); }
	82% { transform: translate(-102.70%, 2307.22%); }
	83% { transform: translate(-105.64%, 2195.26%); }
	84% { transform: translate(-108.53%, 2080.75%); }
	85% { transform: translate(-111.37%, 1964.28%); }
	86% { transform: translate(-114.18%, 1846.46%); }
	87% { transform: translate(-116.97%, 1727.95%); }
	88% { transform: translate(-119.76%, 1609.44%); }
	89% { transform: translate(-122.58%, 1491.69%); }
	90% { transform: translate(-125.43%, 1375.49%); }
	91% { transform: translate(-128.34%, 1261.69%); }
	92% { transform: translate(-131.34%, 1151.19%); }
	93% { transform: translate(-134.45%, 1044.91%); }
	94% { transform: translate(-137.70%, 943.87%); }
	95% { transform: translate(-141.12%, 849.11%); }
	96% { transform: translate(-144.74%, 761.73%); }
	97% { transform: translate(-148.60%, 682.89%); }
	98% { transform: translate(-152.74%, 613.80%); }
	99% { transform: translate(-157.19%, 555.73%); }
	100% { transform: translate(-157.19%, 555.73%); }
}
.animated-smaller-element-item2 {
	@include sassence(smaller-element-item2);
}